<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="E4 Cookbook Target Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2023-09"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" includeSource="true" label="Tools Platform Libs" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.openjfx</groupId>
					<artifactId>javafx-controls</artifactId>
    <version>17.0.9</version>

				</dependency>
				<dependency>
					<groupId>org.openjfx</groupId>
					<artifactId>javafx-fxml</artifactId>
    <version>17.0.9</version>

				</dependency>
				<dependency>
					<groupId>org.openjfx</groupId>
					<artifactId>javafx-base</artifactId>
    <version>17.0.9</version>

				</dependency>
			</dependencies>
		</location>
	</locations>
</target>