<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="de.codecentric.eclipse.tutorial.target" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.102.v20150204-1316"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.0.v20140523-0116"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.2.2.v20150203-1939"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
</target>
